/* Main styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Utility styling */

.container {
    max-width: 800px;
    margin: auto;
}

a {
    text-decoration: none;
}

.text-primary {
    color: #f4c08a;
}

.clr {
    clear: both;
}

/* navbar styling */

#navbar {
    background-color: #333;
    overflow: auto;
}

#navbar h1 {
    float: left;
    padding: 10px;
}

#navbar h1 a {
    color: #fff;
}

#navbar ul {
    float: right;
    list-style: none;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 15px 10px;
    color: #fff;
}

#navbar ul li a:hover,
#navbar ul li a.content {
    background-color: #444;
    color: #f4c08a;
}

/* showcase */
.showcase {
    background: url(../img/showcase.jpg) center center/cover;
    height: 600px;
}

.showcase .showcase-content {
    text-align: center;
    padding-top: 200px;
}

.showcase .showcase-content h1 {
    font-size: 40px;
    color: #fff;
    padding-bottom: 20px;
}

.showcase .showcase-content p {
    font-size: 25px;
    color: #fff;
    padding-bottom: 30px;
}

.showcase .showcase-content a {
    background-color: #333;
    padding: 10px;
    color: #fff;
}

.showcase .showcase-content a:hover {
    color: #333;
    background-color: #f4c08a;
}

/* section */
.sec {
    height: 400px;
}

.sec .bg_img {
    float: left;
    width: 50%;
    background: url('../img/photo-1.jpg') no-repeat;
    min-height: 100%;
}

.sec .sec_content {
    float: right;
    width: 50%;
    padding: 50px 30px;
    height: 100%;
    text-align: center;
    background-color: #333;
    overflow: hidden;
}

.sec .sec_content h1 {
    padding-bottom: 20px;
}

.sec .sec_content p {
    color: #fff;

    margin-top: 20px;
    padding-bottom: 50px;
}

.sec .sec_content a {
    background-color: #fff;
    color: #222;
    padding: 20px;
}

.sec .sec_content a:hover {
    background-color: #f4c08a;
}

/* section2 */

#sec-2 .box {
    float: left;
    width: 33.3%;
    text-align: center;
    padding: 40px;
}

#sec-2 .box i,
h1 {
    margin-bottom: 20px;
}

#sec-2 #box2 {
    background-color: #f4c08a;
}

/* footer */

footer {
    background-color: #444;
    padding: 40px;
    text-align: center;
    color: #fff;
}